.wrapper {
  background: #273345;
  font-family: sans-serif;
}

.container {
  padding: 16px;
  @media (min-width: 768px) {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.block {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
