.header {
  padding: 20px 0;
  color: #f11869;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f11869;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  & img {
    margin-right: 10px;
    height: 50px;
    cursor: pointer;
  }
  & h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  & h3 {
    font-size: 12px;
  }
}

.text {
  font-size: 12px;
  @media (min-width: 768px) {
    text-align: right;
  }
}
