.search {
 color: white;
  padding: 16px 0;
}

.input {
  box-sizing: border-box;
  padding: 5px 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  outline: none;
}

.text {
  margin-bottom: 10px;
}

.value {
  margin-bottom: 5px;
  cursor: pointer;
}
